body {
  background-color: grey;
}

#snake-game {
  border: 2px solid #FFF;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#score-text {
  text-align: center;
}